<form method="post" action="{{ path('condeposer_delete', {'id': condeposer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condeposer.id) }}">
    <button class="btn">Delete</button>
</form>
