{% extends 'base.html.twig' %}

{% block title %}New ConRecherche{% endblock %}

{% block body %}
    <h1>Create new ConRecherche</h1>

    {{ include('con_recherche/_form.html.twig') }}

    <a href="{{ path('con_recherche_index') }}">back to list</a>
{% endblock %}
