{% extends 'admin.html.twig' %}

{% block title %}Edit Racheter{% endblock %}

{% block body %}
    <h1>Edit Racheter</h1>

    {{ include('racheter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('racheter_index') }}">back to list</a>

    {{ include('racheter/_delete_form.html.twig') }}
{% endblock %}
