{% extends 'base.html.twig' %}

{% block title %}Hello QuisommesnousController!{% endblock %}

{% block body %}
    <section class="page-header aboutus_page">
        <div class="container">
            <div class="page-header_wrap">
                <div class="page-heading">
                    <h1>À propos de nous</h1>
                </div>
                <ul class="coustom-breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>À propos de nous</li>
                </ul>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <!-- /Page Header-->

    <!--About-us-->
    <section class="about_us section-padding">
        <div class="container">
            <div class="section-header text-center">
                <h2>Welcome <span>to the Car Dealer</span></h2>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    <!-- /About-us-->

    <!-- Why-Choose-Us-->
    <section class="why_choose_us section-padding gray-bg">
        <div class="container">
            <div class="section-header text-center">
                <h2>Why <span>Choose Us</span></h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="listing_box">
                        <h5><i class="fa fa-user-circle" aria-hidden="true"></i> Trusted By Thousands</h5>

                    </div>
                    <div class="listing_box">
                        <h5><i class="fa fa-globe" aria-hidden="true"></i> Wide Range Of Vehicles</h5>

                    </div>
                    <div class="listing_box">
                        <h5><i class="fa fa-car" aria-hidden="true"></i> Faster Buy & Sell</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="video_box">
                        <iframe class="mfp-iframe" width="560" height="315" src="https://www.youtube.com/embed/EghgY-AMt04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Why-Choose-Us-->

    <!-- Fun-Facts-->
    <section class="fun-facts-section">
        <div class="container div_zindex">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="fun-facts-m">
                        <div class="cell">
                            <h2><i class="fa fa-calendar" aria-hidden="true"></i>20+</h2>
                            <p>Years In Business</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="fun-facts-m">
                        <div class="cell">
                            <h2><i class="fa fa-car" aria-hidden="true"></i>100+</h2>
                            <p>Used Cars For Sale</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="fun-facts-m">
                        <div class="cell">
                            <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i>600+</h2>
                            <p>Satisfied Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark Overlay-->
        <div class="dark-overlay"></div>
    </section>
    <br>
    <!-- /Fun-Facts-->

    <!-- Meet-the-Team-->
{% endblock %}
