{% extends 'base.html.twig' %}

{% block title %}New Info{% endblock %}

{% block body %}
    <br>
    <div class="container">
        {{ include('info/_form.html.twig') }}
    </div>
    <br>

{% endblock %}
