{% extends 'base.html.twig' %}

{% block title %}New Mail{% endblock %}

{% block body %}

    <br>
    <div class="container">
        {{ include('mail/_form.html.twig') }}
    </div>
    <br>
{% endblock %}
